@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


/*--- GRAL ---*/
*{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color: black !important;
    letter-spacing: 1px;
}
.inline{
    display: inline;
}
body{
    margin:0px;
    background-color: #cbd4d2;
    height: 100%;
}
input{
    border:none;
    margin:0px;
    padding: 0px 10px;
    height: 2em;
    border-bottom: 1px gray solid;
    margin: 0px auto;
}
button{
    border:none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.oculto{
    display: none;
}
.invisible{
    opacity: 0;
}


/*--- NAV ---*/
nav{
}
.barra{
    position:  fixed;
    width: 100%;
    top: 0px;
    z-index: 30;
}
.barra-arriba{
    height: 50px;
    background-color: #014334;
}
.barra-menu{
    height: 25px;
    background-color: #016f55;
}
.barra-menu .barras-menu{
    display: none;
}
.barra-portada{
    margin-top: 75px;
    height: 400px;
    background-image: url("../img/dormitorio.jpg");
    background-size: 100%;
    background-position-y: -280px;
    background-repeat: no-repeat;
}
.barra-portada .gradian-portada{
    width: 100%;
    height: 380px;
    padding-top: 20px;
    background: linear-gradient(to right, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,.7) 100%);
}
.barra-portada .gradian-portada span{
    color: white;
    font-size: 3.5em;
    margin:40px ;
    font-weight: 100;       
    font-family: 'Raleway', sans-serif;
}
.barra-arriba div{
    display: inline;
}
.barra-arriba .logo img{
    width: 200px;
}
.barra-arriba .pages-menu{
    
}
.barra-arriba .pages-menu ul{
    position: relative;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
}
.barra-arriba .pages-menu li{
    display: inline;
    font-weight: bold;       
    font-family: 'PT Sans', sans-serif;
    font-size: .8em;
    color: white;
    margin-right: 30px;
    cursor:pointer;
}
.barra-arriba .icono-carrito{
    background-color: #029a77;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    position: relative;
    float: right;
    margin-right: 10px;
    border-radius: 100%;
}
.barra-arriba .icono-carrito i{
    margin-left:45%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}
.barra-arriba .login span{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;  
    font-size: .8em;
    cursor:pointer;
}
.login{
    position: relative;
    float: right;
    margin: 15px;
}
.barra-menu ul{
    margin: 0px;
}
.barra-menu li{
    display: inline;
    font-weight: bold;       
    font-family: 'PT Sans', sans-serif;
    font-size: .8em;
    color: white;
    margin-right: 30px;
    cursor:pointer;
}



/*--- MAIN ---*/
.main{
    padding: 10px;
}
.main > div{
    display: inline-table;
    position: relative;
}
.main .izquierda{
    width: 18%;
    float: left;
}
.main .centro{
    transform:translateY(-100px);
    background-color: white;
    width: calc(64% - 20px);
    margin-left:10px;
}
.main .derecha{
    background-color: white;
    width: 18%;
    float: right;
}

/*--- IZQUIERDA ---*/
.main > .izquierda > div{
    margin-bottom: 10px; 
    width: calc(100% - 20px);
    background-color: white;    
}
.main .izquierda .vistas{
    padding: 10px;
    font-weight: bold;       
    font-family: 'PT Sans', sans-serif;
    font-size: .9em;
}

.main .izquierda .menu{
    padding: 0px 10px;
    padding-bottom: 10px;
}
.main .izquierda .item{
     border-bottom: 2px solid #9c9c9c;
     padding: 8px 55px;
     cursor: pointer;
}
.main .izquierda .item *{
    display: inline;
    color: #393939;
}
.main .izquierda .menu .item .titulo{
    font-weight: 600;       
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
}
.main .izquierda .menu .flecha{
    float: right;
    font-weight: 400;       
    font-family: 'Raleway', sans-serif;
}
.main .izquierda .menu .item .tipos .componentes{
    
}
.main .izquierda .menu .item .tipos .componentes .componente{
    display: inline-block;
    width: 100%;
    font-weight: 100;  
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
}
.main .izquierda .menu .item .tipos .componentes .titulo{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}





/*--- CENTRO ---*/
.main .centro .buscador{
    padding: 10px;
}
.main .centro .buscador *{
  margin: 0px;
  padding: 0px;
}
.main .centro .buscador input{
   width: calc(89.5% - 10px);
   height: 40px;
   padding-left: 10px;
}
.main .centro .buscador button{
   width: 10%;
   height: 40px;
   border-radius: 0px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;
}




.main .centro .contenedor {
    padding:20px;
    text-align: center;
    margin-top: 10px;
}
.main .centro .contenedor .objeto-cuadrado{
    display: inline-block;
    text-align: left;
    background-color: #eaeaea;
    width: 230px;
    height: 300px;
    margin-right: -4px;
    margin:20px 40px;
}
.main .centro .contenedor .objeto-cuadrado .arriba{
    height: calc(100% - 40px);
}
.main .centro .contenedor .objeto-cuadrado .abajo{
    height: 30px;
    background-color: #e0e0e0;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: .75em;
}
.main .centro .contenedor .objeto-cuadrado .arriba .derecha{
    background-image: url("../img/lampara.jpg");
    background-position-x: -40px;
    background-size: auto 100%;
    width: 55%;
    height: 100%;
    float: right;
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda{
    width: 45%;
    height: 100%;
    float: right;
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .antes{
    margin-left: 10px;
    margin-top: 20px;
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .antes div{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: line-through;
    font-size: .7em;
    display: inline;
    color: gray;
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .ahora{
    margin-top: 30px;
    margin-left: 10px;
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .ahorita{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .7em;
    margin-bottom:-5px;
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .b{
    font-size: 1.6em;
    color: #e74444;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .moneda{
    font-size: 1em;
    font-weight: 700;
}

.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .descuento{
    background-color: #e74444;
    width: 40px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: -40px;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .descuento div{
    font-size: 0.7em;
    font-weight: 700;
    color:white;
    
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .descuento .off{
    width: 100%;
    margin-top: -5px;
    
}
.main .centro .contenedor .objeto-cuadrado .arriba .izquierda .vermas{
    font-size: .6em;
    width: 60px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 700;
    background-color: green;
    border-radius: 4px;
    padding: 2px 2px;
    position: relative;
    left: 5px;
    top: 30%;
    cursor: pointer;
}


/*--- DERECHA ---*/

.main .derecha .contenedor{
    padding: 10px;
}

.main .derecha .contenedor .cabezal{
    height: 77px;
    margin-bottom: 30px;
}
.main .derecha .contenedor .cabezal .titulo{
    font-size: 1em;
    color: gray;
    font-weight: 700;
    font-family: 'Century Gothic', sans-serif;
}
.main .derecha  .contenedor .cabezal .total{
    font-size: 1em;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 700;
}
.main .derecha  .contenedor .cabezal .moneda{
    font-size: 1.5em;
    font-family: 'Century Gothic', sans-serif;
}
.main .derecha  .contenedor .cabezal .monto{
    font-size: 2.5em;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 200;
}
.main .derecha  .contenedor .articulo{
    height:100px;
    background-color: #eaeaea;
    margin-top: 20px;
}
.main .derecha .contenedor .articulo .arriba{
    background-color: red;
    background-image: url("../img/lampara.jpg");
    background-size: 100%;
    background-position-y: -50px; 
    height: 50%;
}
.main .derecha .contenedor .articulo .abajo{
    height: 50%;
    font-size: .8em;
     font-weight: 700;
}
.main .derecha .contenedor .articulo .abajo > div{
    display: inline-block;
    padding: 0px 10px;
    height: 50%;
}
.main .derecha  .contenedor .articulo .abajo .titulo{
    width: calc(100% - 20px);
    margin-right: 0px;
    float: left;
    height: 50%;
    padding-top: 2px;
}
.main .derecha .contenedor  .articulo .abajo .precio > div{    display: inline;}
.main .derecha .contenedor .articulo .abajo .cantidad > div{    display: inline;}
.main .derecha .contenedor .articulo .abajo .sub > div{    display: inline;}
.main .derecha .contenedor  .articulo .abajo .precio{    float: left;}
.main .derecha .contenedor .articulo .abajo .sub{    float: right;}

/*--- FOOTER ---*/
.footer{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    bottom: 0x;
}
.footer .contenedor{
    height: 400px;
        background-color: #014334;

}
.footer .contenedor .arriba{
    height: 60px;
}
.footer .contenedor .arriba .logo{
    padding: 10px;
}
.footer .contenedor .arriba .logo img{
    width: 250px;   
}

.footer .contenedor .medio{
    height: 270px;
    padding: 0px 30px;
}
.footer .contenedor .medio .col{
    margin-right: -3px;
    margin-left: -1px;
    height: 270px;
    width: 20%;
    display: inline-grid;
    
    color: white;
    font-size: .9em;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 200;
}
.footer .contenedor .medio .col .titulo{
    font-weight: 700;
}
.footer .contenedor .medio .col .componente{
    font-weight: 200;
    padding-left: 10px;
    display: inherit
}
.footer .contenedor .medio .col1{
}
.footer .contenedor .medio .col2{
    
}
.footer .contenedor .medio .col3{
}
.footer .contenedor .medio .col4  {

}
.footer .contenedor .medio .col4 .a{
    margin-top: 10px;
    padding-left: 20px;
}
.footer .contenedor .medio .col4 .a .fb{
    padding-top: 12px;
}
.footer .contenedor .medio .col4 .a i {
    margin-right: 11px;
    float: left;
}





.footer .contenedor .medio .col5{

}
.footer .contenedor .medio .col5 .logo{
}
.footer .contenedor .medio .col5 .logo img{
    width: 300px;
}


.footer .contenedor .abajo{
    height: 30px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: right;
   
    
}
.footer .contenedor .abajo span{
     color: white;
    font-size: .9em;
    font-family: 'PT Sans', sans-serif;
    font-weight:700;
    padding-right: 100px;
}





































